SOURCE_FOLDER="${HOME}/Documents"

# Vim
VIM_EXEC="vim"

# Docker
DOCKER_IMAGE_NAME="rust-prepack-ide:1.0.0"
DOCKER_HOME_VOLUME_NAME="rust-prepack-ide-rust-home"

# Rust stable version
RUST_STABLE_CHANNEL_VERSION=""

RUSTUP_COMPONENTS="rustfmt"
CARGO_COMPONENTS=""
